<div class="nav" id="nav">
  <a class="link link-left" href="{{ "/" | prepend: site.baseurl }}"><i class="icon fa fa-home" title="Home"></i></a>
  <a class="link link-left">|</a>
  {% unless page.exclude_menu_about %}
    <a class="link link-left" href="#about" data-scroll>Expertise</a>
    <a class="link link-left">|</a>
  {% endunless %} 
  <a class="link link-left" href="#projects" data-scroll>Projects</a>
  <a class="link link-right" href="#" data-scroll><i class="icon fa fa-arrow-circle-up" title="Up to the top"></i></a>
</div>
<script src="{{ "/assets/js/menubar.js" | prepend: site.baseurl }}"></script>
